* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004750;
}

.home-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

.home-box img {
    max-width: 60%;
}

.header-text {
    font-size: 35px;
    color: #E3fb20;
    text-align: center;
}

.contact-box {
    display: flex;
    border: 0.5px solid white;
    border-radius: 7px;
    padding: 15px;
    gap: 10px;
    flex-direction: column;
    color: white;
    font-size: 20px;
}

.contact-box a {
    color: white;

}
